

.topnv-container{
    width: 90%;
    margin: auto;
    overflow: hidden;
}
header{
    background-color: #181818;
    padding-top: 6px;
    padding-bottom: 6px;
    height: 35px;
    max-height: 35px;
    color: #ffffff;
    border-bottom: 1px solid black;
}
header a{
    text-decoration: none;
    color: #ffffff;
    cursor:pointer;
}
header ul{
    margin: 0;
    padding: 0;
}
header li{
    display: inline;
    padding: 0 20px;
}
header #brand{
    float: left;
    margin: 0 20px 0 0;
}
header #brand a{
    text-decoration: none;
}
header #brand h1{
    margin: 0;
    font-family: "Knewave";
    font-size: 22px;
}
header #brand h1:hover{
    color: #FFD900;
}
header #searchByName{
    float: right;
    left: 40%;
    margin-top: 2px;
    position: absolute;
}
header input[type=text]{
    font-family: "Athiti", sans-serif;
    font-size: 15px;
    height: 25px;
    width: 300px;
    border-radius: 7px;
    border: 1px solid #181818;
    text-align: center;
}
header input[type=text]:focus{
    outline: none;
    background-color: #424242;
    color: white;
}
header nav{
    /*float:right;*/
    margin-top: 5px;
}
header a:hover{
    color: #00CCD6;
}
.login-button, .signup-button{
    float: right;
    background-color: #181818;
    font-family: "Athiti" , sans-serif;
    color: white;
   
    border: none;
    cursor: pointer;
    width: 100%;
    font-size: 15px;
}
.login-button:hover, .signup-button:hover{
    color: #00CCD6;
}


.ad{
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 20px;
    width: 60%;
    margin: auto;
    margin-top: 70px;
    margin-bottom: 100px;
    overflow: hidden;
}
.adcontent{
    color: #ffffff;
    margin: auto;
    padding: 0;
    width: 90%;
    height: 170px;
    display: block;
    overflow: hidden;
}
.adcontent h2{
    margin: 20px 0 0 0;
    padding: 0;
    font-size: 40px;
}
.adcontent p{
    margin: 0;
    padding: 0;
    font-size: 20px;
    line-height: 0%;
}
.fleft{
    float: left;
}
.fright{
    float: right;
}
.atleft{
    margin-left: 5%;
}
.atright{
    margin-right: 5%;
}
.fright h2{
    text-align: right;
}
.btnToWebsite{
    text-align: center;
    margin-bottom: 30px;
}
.btnToWebsite a{
    text-decoration: none;
}
.btnToWebsite button{
    background-color: #181818;
    color: white;
    padding:  20px 90px;
    font-family: "Athiti",sans-serif;
    font-size: 40px;
    border-radius: 40px;
    border: 4px solid #FFD900;
}
.btnToWebsite button:focus{
    outline: none;
    background-color: #FFD900;
    color: black;
}
#logo{
    margin: 5px;
    padding: 0;
    text-align: center;
    color: #FFD900;
    font-family: "Knewave";
    font-size: 55px;
    line-height: 0%;
    letter-spacing: 3px;
}



.modal{
    display: none;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.7);
    padding-top: 60px;
    margin-top:0;
}
.modal-content{
    margin: 5% auto 15% auto;
    background-color: #fff;
    /* background-image: linear-gradient(#00CCD6, #fff); */
    width: 30%;
    padding: 20px;
    border-radius: 15px;

}
.modal-content button{
    font-family: "Athiti";
}
.modal-content input[type=text],.modal-content input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-family: "Athiti";
}
.logo-login h3{
    font-family: "Knewave",sans-serif;
    text-align: center;
    font-size: 70px;
    line-height: 0;
    color:#c42121;
}
.close{
    display: block;
    position: relative;
    text-align: right;
    color: #000;
    font-size: 27px;
    font-weight: bold;
    margin-bottom: 0;
    margin-top: 0;

}
span.forgetpsw{
    display: block;
    position: relative;
    text-align: right;
}
button.loginBtn{
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    background-color:#c42121;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.loginBtnBox,.signupBtnBox{
    text-align: center;
}
.logo-signup h3{
    font-family: "Knewave",sans-serif;
    text-align: center;
    font-size: 70px;
    line-height: 0;
    color:#24a571;
}
button.signupBtn{
    display: inline-block;
    position: relative;
    padding: 5px 20px;
    width: 50%;
    font-size: 20px;
    margin-top: 10px;
    color: #fff;
    background-color:#24a571;
    border: none;
    cursor: pointer;
    border-radius: 10px;
}
.animate {
    -webkit-animation: animatezoom 0.6s;
    animation: animatezoom 0.6s
}
@keyframes animatezoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}
@-webkit-keyframes animatezoom {
    from {-webkit-transform: scale(0)}
    to {-webkit-transform: scale(1)}
}


.logo-sidebar{
    margin: 0;
    font-family: "Knewave";
    font-size: 22px;
    color: #ffd900;
    letter-spacing: 3px;
}
.sidebar{
    height:100%;
    width:320px;
    background-color:#000;
    position:fixed;
    z-index:1;
    overflow-x: hidden;
}
.phagraph-sidebar{
    text-align: center;
    height:6%;
    width:320px;
    background-color:#ffd900;
    font-size: 20px;
    font-weight: bold;
    overflow: hidden;
    margin-top: 10px;
    margin-bottom: 10px;
}
.notification {
    background-color: #555;
    color: white;
    text-decoration: none;
    padding: 15px 26px;
    position: relative;
    display: inline-block;
    border-radius: 2px;
    margin-top: 25px;
    margin-left: 63px;
    margin-bottom: 20px;
    border: none;
    letter-spacing: 2px;
    font-weight: bold;
    cursor: pointer;
    font-size: 15px;
}
.notification:hover {
    background: #ffd900;
    color: black;
}
.notification .badge {
    position: absolute;
    top: -10px;
    right: -10px;
    padding: 5px 10px;
    border-radius: 50%;
    background: red;
    color: white;
}
.searchIngredient-container {
    float: right;
    margin-bottom: 15px;
    margin-top: 5px;
}
.input-searchIngredient[type=text] {
    padding: 6px;
    margin-top: 15px;
    font-size: 17px;
    border: none;
    background-color: #d9d9d9;
}
.searchIngredient-container button {
    float: right;
    padding: 6px 10px;
    margin-top: 15px;
    margin-right: 22px;
    background: #c0c0c0;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
.searchIngredient-container button:hover {
    background: #ffd900;
}
.accordion {
    background-color: #424242;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 90%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
    transition: 0.4s;
    margin-top: 3%;
    margin-left: 5%;
    letter-spacing: 1px;
    font-weight: bold;
    font-size: 18px;
    font-family: "Athiti", sans-serif;
}
.active, .accordion:hover {
    background-color: #ffd900;
    color: black;
}
.panel {
    padding: 0 18px;
    display: none;
    background-color: #d9d9d9;
    overflow: hidden;
    width: 237px;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}
.input-checkIngredients[type=checkbox]{
    -ms-transform: scale(2); /* IE */
    -moz-transform: scale(2); /* FF */
    -webkit-transform: scale(2); /* Safari and Chrome */
    -o-transform: scale(2); /* Opera */
    margin: 8px 5px 15px 15px;
}
.checkboxtext
{
    /* Checkbox text */
    font-size: 18px;
    display: inline;
    font-family: "Athiti", sans-serif;
}
.searchRecipe {
    display: block;
    width: 80%;
    border: none;
    background-color: #ffd900;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 3px;
    color: black;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 10%;
    margin-top: 20px;
}
.requestIngredient-button {
    display: block;
    width: 80%;
    border: none;
    background-color: #000;
    padding: 14px 28px;
    font-size: 20px;
    cursor: pointer;
    text-align: center;
    letter-spacing: 3px;
    color: white;
    font-weight: bold;
    border-radius: 16px;
    margin-left: 10%;
}
.yourIngredientList {
    padding: 0 18px;
    display: block;
    overflow: hidden;
    width: 237px;
    margin-top: 20px;
    margin-left: 5%;
    padding-top: 10px;
    padding-bottom: 10px;
}



.recipeListHead {
    margin-left: 350px;
    border-radius: 16px;
    height: 16%;
    width: 76%;
    margin-top: 1%;
    background-color: #808080;
    position: fixed;
}
.recipeList{
    background-color: #e0e0e0;
    margin-left: 350px;
    height: 100%;
    width: 76%;
    position: fixed;
    margin-top: 7%;
    overflow-x: hidden;    
}
.createRecipe-btn:hover, .createRecipe-btn:focus {
    background-color: #ffd900;
    color: black;
}
.createRecipe-btn {
    background-color: #333333;
    color: white;
    padding: 14px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    float: right;
    margin-bottom: 12px;
    font-family: "Athiti" , sans-serif;
}
.column-recipeList {
    float: left;
    width: 33.3%;
    margin-bottom: 10px;
    padding: 0 8px;
    box-sizing: border-box;
    min-height: 510px;
}
.card-recipeList {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: white;
    margin-top: 20px;
}
.container-recipeList {
    padding: 0 16px;
    background-color: white;
}
.container-recipeList::after, .row-recipeList::after {
    content: "";
    clear: both;
    display: table;
}
.title-recipeList {
    color: grey;
}
.moreInfo-btn {
    border: none;
    outline: 0;
    display: inline-block;
    padding: 8px;
    color: white;
    background-color: #000;
    text-align: center;
    cursor: pointer;
    width: 100%;
    margin-bottom: 5%;
    font-family: "Athiti" , sans-serif;
}
.moreInfo-btn:hover {
    background-color: #555;
}
.navbar-recipeList {
    overflow: hidden;
    background-color: #333;
}
.navbar-recipeList a {
    float: left;
    font-size: 16px;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}
.subnav-recipeList {
    float: left;
    overflow: hidden;
}
.subnav-recipeList .subnavbtn {
    font-size: 16px;
    border: none;
    outline: none;
    color: white;
    padding: 14px 16px;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.navbar-recipeList a:hover, .subnav-recipeList:hover .subnavbtn {
    background-color: #ffd900;
    color: black;
}
.subnav-content {
    display: none;
    position: absolute;
    left: 0;
    background-color: #ffd900;
    width: 100%;
    z-index: 1;
}
.subnav-content a {
    float: left;
    color: black;
    text-decoration: none;
}
.subnav-content a:hover {
    background-color: #eee;
    color: black;
}
.subnav-recipeList:hover .subnav-content {
    display: block;
}

.follow-btn {
    color: white;
    background-color: #333333;
    border: 1px solid;
    border-color: #515151;
    text-align: center;
    font-size: 20px;
    padding: 7px 30px 7px 30px;
    margin: 5px 99px 5px 99px;
    font-family: "Athiti" , sans-serif;
    font-weight: bold;
}
.follow-btn:hover {
    background-color: #ffd900;
    color: black;
    transition: 0.3s;
}
.checked {
    color: orange;
}
.profile-img {
   width:200px;
   border-radius: 50%;
}
.food-img {
    width:500px;
    border-radius: 10%;
}
.editbtn-recipe {
    position: absolute;
    top:265px; 
    left:270px;  
    width: 50px;
    background-color: #424242;
    color: white;
    border: none;
    font-family: "Athiti" , sans-serif;
}
.editbtn-recipe:hover, .deletebtn-recipe:hover {
    background-color: #555;
}
.deletebtn-recipe {
    position:absolute; 
    top:295px; 
    left:270px;
    width: 50px;
    background-color: #424242;
    color: white;
    border: none;
    font-family: "Athiti" , sans-serif;
}
.profile-btn {
    float: right;
    margin-right: 20px;
    background-color: black;
    background-color: #181818;
    font-family: "Athiti" , sans-serif;
    color: white;  
    border: none;
    cursor: pointer;
    font-size: 15px;
}
.profile-btn:hover{
    color: #00CCD6;
}


